@model AssetmarkBAT.Models.BATModel

@{
    Layout = "~/Views/AssetmarkBAT/Shared/_Layout.cshtml";
}

@section Title
{
    AssetMark – BAT – Assessement3
}

<main>
    @using (Html.BeginForm("Report", "AssetmarkBAT", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.Year)
        @Html.HiddenFor(m => m.PracticeType)
        @Html.HiddenFor(m => m.AffiliationMode)
        @Html.HiddenFor(m => m.FirmType)

        @Html.HiddenFor(m => m.Month)

        @Html.HiddenFor(m => m.Ff_TotalFirmAsset)
        @Html.HiddenFor(m => m.Ff_TotalFirmAssetAnnualized)
        @Html.HiddenFor(m => m.Ff_NonRecurringRevenue)
        @Html.HiddenFor(m => m.Ff_NonRecurringRevenueAnnualized)
        @Html.HiddenFor(m => m.Ff_RecurringRevenue)
        @Html.HiddenFor(m => m.Ff_RecurringRevenueAnnualized)

        @Html.HiddenFor(m => m.Ff_TotalRevenue)
        @Html.HiddenFor(m => m.Ff_TotalRevenueAnnualized)

        @Html.HiddenFor(m => m.Ff_DirectExpenses)
        @Html.HiddenFor(m => m.Ff_DirectExpensesAnnualized)
        @Html.HiddenFor(m => m.Ff_IndirecteExpenses)
        @Html.HiddenFor(m => m.Ff_IndirecteExpensesAnnualized)
        @Html.HiddenFor(m => m.Ff_OperatingProfit)
        @Html.HiddenFor(m => m.Ff_OperatingProfitAnnualized)

        @Html.HiddenFor(m => m.Ff_ProjectedGrowthRate)
        @Html.HiddenFor(m => m.Ff_ProjectedGrowthRateAnnualized)
        @Html.HiddenFor(m => m.Ff_ClientRelationships)
        @Html.HiddenFor(m => m.Ff_ClientRelationshipsAnnualized)
        @Html.HiddenFor(m => m.Ff_FullTimeNonAdvisors)
        @Html.HiddenFor(m => m.Ff_FullTimeNonAdvisorsAnnualized)
        @Html.HiddenFor(m => m.Ff_FullTimeAdvisors)
        @Html.HiddenFor(m => m.Ff_FullTimeAdvisorsAnnualized)
        @Html.HiddenFor(m => m.Ff_NewClients)
        @Html.HiddenFor(m => m.Ff_NewClientsAnnualized)

        @Html.HiddenFor(m => m.DateStarted)
        @Html.HiddenFor(m => m.Page2Complete, new { ng_init = string.Format("vmiInitSliderChanged('{0}')", Model.Page2Complete), ng_model = "vmiSliderChanged" })

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h1><img src="~/Images/business_assessment_logo.png" alt="Business Assessment Tool" width="350"></h1>
                    </div>
                </div>
                <h2><span>Value Maximization Index</span><sup>&trade;</sup></h2>
                <p>The Value Maximization Index® (VMI) assesses your firm’s relative business risk, transferability, sustainability and potential growth. Your VMI is calculated based on your responses to 20 value maximization indicator questions in four key practice management areas: managing your practice, marketing your business, optimizing your operations, and empowering your team. </p>
                <p>This section will take no more than 10 minutes. Move the sliders to score your firm on each item. For example, if you feel you are 70% of the way to a well-defined business plan, slide the indicator to “7”.</p>
                <div class="scoreboard" ng-cloak>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="score score-period">
                                <h5>Time period (from Firm Financials)</h5>
                                <h3>@Model.Year</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="score score-calculated" ng-init="calculatedTotalScore = @Model.Vmi_Index">
                                <h5>Calculated total score</h5>
                                <h3>{{calculatedTotalScore}}</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="score score-submitted">
                                <h5>Submitted total score</h5>
                                <h3>@Model.Vmi_Index</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sliders" ng-cloak>
                    <h4>Managing Your Practice</h4>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not have a written business plan that drives future (1-, 3-,5+-year) goals
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myp1.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Man_Written_Plan, new { ng_init = string.Format("myp1.value = {0}", Model.Vmi_Man_Written_Plan), ng_model = "myp1.value" })
                                <rzslider rz-slider-model="myp1.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have a written business plan that is executed consistently and drives future goals.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not track financial business metrics.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myp2.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Man_Track, new { ng_init = string.Format("myp2.value = {0}", Model.Vmi_Man_Track), ng_model = "myp2.value" })
                                <rzslider rz-slider-model="myp2.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I regularly track financial business metrics and work toward goals based on those metrics.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                All of my clients are in the distribution phase of their financial lives.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myp3.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Man_Phase, new { ng_init = string.Format("myp3.value = {0}", Model.Vmi_Man_Phase), ng_model = "myp3.value" })
                                <rzslider rz-slider-model="myp3.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                All of my clients are in the accumulation stage of their financial lives.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                All of my revenue is commission-based.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myp4.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Man_Revenue, new { ng_init = string.Format("myp4.value = {0}", Model.Vmi_Man_Revenue), ng_model = "myp4.value" })
                                <rzslider rz-slider-model="myp4.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                All of my revenue is recurring and fee-based.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I have an advisor-driven practice that is solely reliant upon me.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myp5.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Man_Practice, new { ng_init = string.Format("myp5.value = {0}", Model.Vmi_Man_Practice), ng_model = "myp5.value" })
                                <rzslider rz-slider-model="myp5.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have a process-driven, sustainable practice that I can easily transition.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="sliders">
                    <h4>Marketing Your Business</h4>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not have a clearly defined value proposition.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myb1.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Mar_Value_Proposition, new { ng_init = string.Format("myb1.value = {0}", Model.Vmi_Mar_Value_Proposition), ng_model = "myb1.value" })
                                <rzslider rz-slider-model="myb1.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have a clearly defined value proposition that is aligned with my target market.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not have formal marketing materials, a web site or an institutionalized brand.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myb2.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Mar_Materials, new { ng_init = string.Format("myb2.value = {0}", Model.Vmi_Mar_Materials), ng_model = "myb2.value" })
                                <rzslider rz-slider-model="myb2.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have high-quality marketing materials, including a website, with an institutionalized brand.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not have a formal marketing plan and do not have a consistent flow of prospects.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myb3.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Mar_Plan, new { ng_init = string.Format("myb3.value = {0}", Model.Vmi_Mar_Plan), ng_model = "myb3.value" })
                                <rzslider rz-slider-model="myb3.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have a formal marketing plan that consistently drives high quality prospects to my practice.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I have difficulty evaluating prospects because I have not defined my ideal client.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myb4.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Mar_Prospects, new { ng_init = string.Format("myb4.value = {0}", Model.Vmi_Mar_Prospects), ng_model = "myb4.value" })
                                <rzslider rz-slider-model="myb4.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I consistently assess prospects using my ideal client profile that aligns with my target market.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I rarely get new business from client, center of influence or professional referrals
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="myb5.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Mar_New_Business, new { ng_init = string.Format("myb5.value = {0}", Model.Vmi_Mar_New_Business), ng_model = "myb5.value" })
                                <rzslider rz-slider-model="myb5.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I consistently get new business from client, center of influence and professional referrals.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="sliders">
                    <h4>Optimizing Your Operations</h4>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not automate processes with technological or outsourced solutions.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="oyo1.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Opt_Automate, new { ng_init = string.Format("oyo1.value = {0}", Model.Vmi_Opt_Automate), ng_model = "oyo1.value" })
                                <rzslider rz-slider-model="oyo1.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I consistently automate processes, utilizing technological and outsourced solutions.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not have written procedures for my operations and perform tasks using ad hoc processes.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="oyo2.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Opt_Procedures, new { ng_init = string.Format("oyo2.value = {0}", Model.Vmi_Opt_Procedures), ng_model = "oyo2.value" })
                                <rzslider rz-slider-model="oyo2.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have detailed, written procedures for business operations that are performed consistently.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I have not segmented my client base, so I do not know how different clients drive revenue.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="oyo3.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Opt_Segment, new { ng_init = string.Format("oyo3.value = {0}", Model.Vmi_Opt_Segment), ng_model = "oyo3.value" })
                                <rzslider rz-slider-model="oyo3.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have segmented my client base into tiers and know how they impact revenue and profitability.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not have a defined client service model and frequently provide non-standardized services.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="oyo4.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Opt_Model, new { ng_init = string.Format("oyo4.value = {0}", Model.Vmi_Opt_Model), ng_model = "oyo4.value" })
                                <rzslider rz-slider-model="oyo4.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have a defined client service model that consistently provides a high-quality client experience.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not have a formal or consistent fee schedule.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="oyo5.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Opt_Schedule, new { ng_init = string.Format("oyo5.value = {0}", Model.Vmi_Opt_Schedule), ng_model = "oyo5.value" })
                                <rzslider rz-slider-model="oyo5.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have a formal fee schedule that is applied consistently and aligned with the services provided.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="sliders">
                    <h4>Empowering Your Team</h4>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I have not invested resources in human capital development.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="eyt1.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Emp_Human, new { ng_init = string.Format("eyt1.value = {0}", Model.Vmi_Emp_Human), ng_model = "eyt1.value" })
                                <rzslider rz-slider-model="eyt1.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have invested in developing and growing a staff in line with my firm’s strategy and goals.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I do not have a formal compensation plan that aligns with industry standards.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="eyt2.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Emp_Compensation, new { ng_init = string.Format("eyt2.value = {0}", Model.Vmi_Emp_Compensation), ng_model = "eyt2.value" })
                                <rzslider rz-slider-model="eyt2.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have a formal compensation plan, aligned with industry standards that motivate my team.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I am responsible for all aspects of client engagement, service and back-office operations.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="eyt3.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Emp_Responsibilities, new { ng_init = string.Format("eyt3.value = {0}", Model.Vmi_Emp_Responsibilities), ng_model = "eyt3.value" })
                                <rzslider rz-slider-model="eyt3.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I focus only on revenue-producing activities and outsource or use my staff for everything else.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I am not staffed adequately to effectively manage my workload or reach my growth objectives.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*<input type="hidden" ng-model="eyt4.value" />*@
                                @Html.TextBoxFor(m => m.Vmi_Emp_Staff, new { ng_init = string.Format("eyt4.value = {0}", Model.Vmi_Emp_Staff), ng_model = "eyt4.value" })
                                <rzslider rz-slider-model="eyt4.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I am staffed optimally to effectively manage my work load and I have capacity for growth.
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-4 slider-low">
                                I have problems with employee retention or have no employees to retain.
                            </div>
                            <div class="col-md-4 slider-control">
                                @*  <input type="hidden" ng-model="eyt5.value" />*@
                                @Html.TextBoxFor(m => Model.Vmi_Emp_Emp_Retention, new { ng_init = string.Format("eyt5.value = {0}", Model.Vmi_Emp_Emp_Retention), ng_model = "eyt5.value" })
                                <rzslider rz-slider-model="eyt5.value" rz-slider-options="vmiSliders.options"></rzslider>
                            </div>
                            <div class="col-md-4 slider-high">
                                I have no problems with retention and have staff that are in the business for the long term.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="button-container text-center">
                            @*<button class="btn-big"><i class="icon-chevron-left"></i> <span class="light">Previous</span> Firm Financials</button>
                                <button class="btn-big">Save Your Inputs</button>
                                <button class="btn-big btn-secondary">Submit VMI Scores <i class="icon-chevron-right"></i></button>*@

                            @*<button class="btn-big" type="submit" name="submit"><i class="icon-chevron-left"></i> <span class="light">Previous</span> Firm Financials</button>
                                <button class="btn-big" type="submit" name="submit">Save Your Inputs</button>
                                <button class="btn-big btn-secondary" type="submit" name="submit">Submit VMI Scores <i class="icon-chevron-right"></i></button>*@

                            <button type="button" name="submit" value="Previous Firm Financials"><i class="icon-chevron-left"></i> <span class="light">Previous</span> Firm Financials</button>
                            <input type="submit" name="submit" value="Save Your Inputs" />   
                            <button class="btn-secondary" type="submit" name="submit" ng-disabled="!(vmiSliderChanged)">Submit VMI Scores <i class="icon-chevron-right"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

</main>

