@model AssetmarkBAT.Models.BATModel

@*@{
    Layout = null;
}

<style type="text/css">
    .error{
        color:red;
    }
     label {
        float: left;
        width: 300px;
    }
     .hidden{
         display:none;
     }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>*@



<main>
    <section>
        <div class="container">
            <h1><img src="images/business_assessment_logo.png" alt="Business Assessment Tool"></h1>
            <h2>Business Assessment</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error impedit aliquid veniam aspernatur maxime vero ea facilis explicabo dolorum quidem velit vel natus, eligendi earum at pariatur vitae asperiores eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error impedit aliquid veniam aspernatur maxime vero ea facilis explicabo dolorum quidem velit vel natus, eligendi earum at pariatur vitae asperiores eveniet!</p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h4>Additional Resources</h4>
                    <ul>
                        <li><a href="#">Sample Valudation <i class="icon-pdf"></i></a></li>
                        <li><a href="#">Sample Valudation <i class="icon-pdf"></i></a></li>
                        <li><a href="#">Sample Valudation <i class="icon-pdf"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="grey">
        <div class="container">
            <h2>Firm Financials &amp; Value Maximization Index Score</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga suscipit aut dicta dolor, asperiores, quia ea animi beatae quos consequatur pariatur enim laudantium eaque veniam corporis. Ullam neque totam excepturi.</p>
            <ul>
                <li>Firm Financials</li>
                <li>Value Maximization Index</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptate nostrum perspiciatis alias sit asperiores. Aut labore, similique possimus, commodi, dolore repellat quos maxime praesentium deserunt assumenda nisi dicta voluptate!</p>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Getting Started</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure ratione odit, reiciendis saepe temporibus nihil laboriosam neque eaque, earum eveniet quo omnis veniam deleniti illo perspiciatis dolorum veritatis vitae.</p>
            <div class="terms">
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>

                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <h5>1. Term Title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos qui, perferendis quo provident modi sit quibusdam, quasi ab necessitatibus ea consequatur, vitae autem aut sint voluptate ut aliquid aspernatur!</p>
                <div class="row">
                    <div class="col-md-6">
                        <label for="cbTerms"><input type="checkbox" id="cbTerms" ng-model="terms"> Agree to the terms of use</label>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="page2.html" class="btn" ng-class="{'hide': !terms}">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>










<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssetMark – BAT – Assessement2</title>
</head>
<body>
    <div>
        @Html.Partial("~/Views/AssetmarkBAT/Shared/Header.cshtml")
    </div>
    <div>
        <br /><br />

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate tempus dapibus. Etiam sed risus justo. Duis ornare elementum nisl, euismod elementum ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec aliquam commodo purus nec congue. Nunc gravida tortor nec nisi venenatis feugiat. Quisque a tempus lorem, sagittis tincidunt felis. Donec viverra turpis et urna porta, non hendrerit elit convallis. Ut efficitur nec est eu fermentum. Vivamus ac dignissim magna. Fusce pellentesque sapien sit amet sollicitudin placerat.

        Fusce maximus dignissim ultrices. Phasellus gravida sem nec lectus commodo, eu venenatis lectus faucibus. Etiam a nisl et felis viverra vulputate. Vestibulum sagittis, arcu at fermentum hendrerit, justo magna mattis erat, ac sodales lorem neque non velit. Phasellus vitae lobortis purus. Phasellus efficitur risus a mauris dignissim, non tristique nisl eleifend. Maecenas elementum porttitor tellus vel vestibulum.



        <br /><br />
        <div ng-app="">

            @using (Html.BeginForm("Page2Questions", "AssetmarkBAT", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.UserId)

                <div>
                    @Html.DropDownListFor(x => x.PracticeType, new SelectList(Model.PracticeTypes, "Value", "Text"), "Practice Type")
                    @Html.ValidationMessageFor(x => Model.PracticeType)
                </div><br />

                <div>
                    @Html.DropDownListFor(x => Model.AffiliationMode, Model.AffiliationModes)
                </div><br />

                <div>
                    @Html.DropDownListFor(x => Model.FirmType, Model.FirmTypes)
                </div><br />

                @Html.DropDownListFor(x => x.Year, new SelectList(Model.Years, "Value", "Text", Model.Year), "-- Select Time Period --")
                <script type="text/javascript">
                    $("#Year")
                      .change(function () {
                          //alert("value changed");
                          //alert($('#Year :selected').text());
                          if ($('#Year :selected').text() == "YTD") {
                              document.getElementById('Month').style.display = 'block';
                          }
                          else {
                              document.getElementById('Month').style.display = 'none';
                          }

                          //document.location = this.value;
                      });
                </script>
                @Html.ValidationMessageFor(x => Model.Year)

                <label>Performance Metric</label>
                @Html.DropDownListFor(x => Model.Month, Model.Months, new { @class = "hidden", ng_Model = "data.Month" })
                @*<span>Annualized values</span><br /><br /><br />*@<br /><br />

                <div>
                    @Html.LabelFor(m => Model.Ff_TotalFirmAsset)
                    @Html.TextBoxFor(m => Model.Ff_TotalFirmAsset, new { @class = "ff-value", ng_Model = "data.totalasset"})    {{ data.totalasset | number:0 | currency}}               
                    @*<span class="ff-value">@Model.Ff_TotalFirmAssetAnnualized</span>*@
                    @Html.ValidationMessageFor(x => Model.Ff_TotalFirmAsset)
                </div><br />
                <div>

                    @Html.LabelFor(m => m.Ff_NonRecurringRevenue)
                    @Html.TextBoxFor(m => m.Ff_NonRecurringRevenue, new { @class = "ff-value", ng_Model = "data.nonrecurringrevenue" }) {{ data.nonrecurringrevenue / data.Month * 12 | currency}} 
                    @Model.Ff_NonRecurringRevenueAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_NonRecurringRevenue)
                </div><br />
                <div>
                    @Html.LabelFor(m => m.Ff_RecurringRevenue)
                    @Html.TextBoxFor(m => m.Ff_RecurringRevenue, new { @class = "ff-value", ng_Model = "data.recurringrevenue" }) {{ data.recurringrevenue / data.Month * 12 | currency}}
                    @Model.Ff_RecurringRevenueAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_RecurringRevenue)
                </div><br />
                <div>
                    @*@Html.LabelFor(m => Model.Ff_TotalRevenue)*@
                    <b>Total Revenue    ==================</b>

                    @*@Html.LabelFor(m => Model.Ff_TotalRevenueAnnualized)*@
                </div><br /><br />

                <div>
                    @Html.LabelFor(m => m.Ff_DirectExpenses)
                    @Html.TextBoxFor(m => m.Ff_DirectExpenses, new { @class = "ff-value", ng_Model = "data.directexpenses" }) {{ data.directexpenses / data.Month * 12 | currency}}
                    @Model.Ff_DirectExpensesAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_DirectExpenses)
                </div><br />
                <div>
                    @Html.LabelFor(m => m.Ff_IndirecteExpenses)
                    @Html.TextBoxFor(m => m.Ff_IndirecteExpenses, new { @class = "ff-value", ng_Model = "data.indirectexpenses" }) {{ data.indirectexpenses / data.Month * 12 | currency}}
                    @Model.Ff_IndirecteExpensesAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_IndirecteExpenses)
                </div><br />
                <div>
                    @*@Html.LabelFor(m => Model.Ff_OperatingProfit)*@
                    <b>Operating Profit ================</b>
                    @*@Html.LabelFor(m => Model.Ff_OperatingProfitAnnualized)*@
                </div><br /><br />

                <div>
                    @Html.LabelFor(m => m.Ff_ProjectedGrowthRate)
                    @Html.TextBoxFor(m => m.Ff_ProjectedGrowthRate)
                    @Model.Ff_ProjectedGrowthRateAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_ProjectedGrowthRate)
                </div><br />
                <div>
                    @Html.LabelFor(m => m.Ff_ClientRelationships)
                    @Html.TextBoxFor(m => m.Ff_ClientRelationships)
                    @Model.Ff_ClientRelationshipsAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_ClientRelationships)
                </div><br />
                <div>
                    @Html.LabelFor(m => m.Ff_FullTimeNonAdvisors)
                    @Html.TextBoxFor(m => m.Ff_FullTimeNonAdvisors)
                    @Model.Ff_FullTimeNonAdvisorsAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_FullTimeNonAdvisors)
                </div><br />
                <div>
                    @Html.LabelFor(m => m.Ff_FullTimeAdvisors)
                    @Html.TextBoxFor(m => m.Ff_FullTimeAdvisors)
                    @Model.Ff_FullTimeAdvisorsAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_FullTimeAdvisors)
                </div><br />
                <div>
                    @Html.LabelFor(m => m.Ff_NewClients)
                    @Html.TextBoxFor(m => m.Ff_NewClients, new { @class = "ff-value", ng_Model = "data.newclients" }) {{ data.newclients / data.Month * 12 | currency}}
                    @Model.Ff_NewClientsAnnualized
                    @Html.ValidationMessageFor(x => Model.Ff_NewClients)<br /><br />

                    <input type="submit" name="submit" value="Save Your Inputs" />
                    <input type="submit" name="submit" value="VMI Inputs Next" />
                </div>

            }
            </div>
        </div>

</body>
</html>
