@model AssetmarkBAT.Models.BATModel
@{
    Layout = "~/Views/AssetmarkBAT/Shared/_Layout.cshtml";
}
@section Title
{
    AssetMark – BAT – Assessement2
}
@*@{
        Layout = null;
    }

    <style type="text/css">
        .error{
            color:red;
        }
         label {
            float: left;
            width: 300px;
        }
         .hidden{
             display:none;
         }
    </style>

*@
<main>
    <section>
        <div class="container">
            <h1><img src="~/Styles/Images/business_assessment_logo.png" alt="Business Assessment Tool"></h1>
            <h2>Firm Financials</h2>
            <div class="row">
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error impedit aliquid veniam aspernatur maxime vero ea facilis explicabo dolorum quidem velit vel natus, eligendi earum at pariatur vitae asperiores eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error impedit aliquid veniam aspernatur maxime vero ea facilis explicabo dolorum quidem velit vel natus, eligendi earum at pariatur vitae asperiores eveniet!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error impedit aliquid veniam aspernatur maxime vero ea facilis explicabo dolorum quidem velit vel natus, eligendi earum at pariatur vitae asperiores eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error impedit aliquid veniam aspernatur maxime vero ea facilis explicabo dolorum quidem velit vel natus, eligendi earum at pariatur vitae asperiores eveniet!</p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h4>Additional Resources</h4>
                    <ul>
                        <li><a href="#">Sample Valudation <i class="icon-file-pdf"></i></a></li>
                        <li><a href="#">Sample Valudation <i class="icon-file-pdf"></i></a></li>
                        <li><a href="#">Sample Valudation <i class="icon-file-pdf"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="grey">
        <div class="container">
            <h3>Enter your firm's financial data in the fields below (all fields are required):</h3>
            @Html.DropDownListFor(x => Model.PracticeType, Model.PracticeTypes)
            @Html.TextBoxFor(x => Model.PracticeType)
            @*<div class="fancy-form-row">
                <div class="fancy-form-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, optio quas sapiente, ullam officiis possimus obcaecati, recusandae accusantium molestias tenetur rem laborum necessitatibus porro dicta ut assumenda aperiam molestiae nulla.</div>
                {{expandPracticeType}}
                <div class="fancy-form-control">
                    <span class="fancy-form-select-toggle" ng-click="expandPracticeTypeSelect()"><i ng-class="{'icon-up-open':expandPracticeType,'icon-down-open':!expandPracticeType}"></i></span>
                    <ul class="fancy-form-select" ng-class="{'expand':expandPracticeType}">
                        <li ng-class="{'active':practiceTypeRadio == 0}">
                            <label for="practiceTypeRadio0">
                                <input type="radio" name="practiceType" id="practiceTypeRadio0" ng-model="practiceTypeRadio" ng-value="0" ng-checked="true" ng-click="expandPracticeTypeSelect()"> Practice Type
                            </label>
                        </li>
                        <li ng-class="{'active':practiceTypeRadio == 1}">
                            <label for="practiceTypeRadio1">
                                <input type="radio" name="practiceType" id="practiceTypeRadio1" ng-model="practiceTypeRadio" ng-value="1" ng-click="expandPracticeTypeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit {{practiceTypeRadio1}}
                            </label>
                        </li>
                        <li ng-class="{'active':practiceTypeRadio == 2}">
                            <label for="practiceTypeRadio2">
                                <input type="radio" name="practiceType" id="practiceTypeRadio2" ng-model="practiceTypeRadio" ng-value="2" ng-click="expandPracticeTypeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':practiceTypeRadio == 3}">
                            <label for="practiceTypeRadio3">
                                <input type="radio" name="practiceType" id="practiceTypeRadio3" ng-model="practiceTypeRadio" ng-value="3" ng-click="expandPracticeTypeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':practiceTypeRadio == 4}">
                            <label for="practiceTypeRadio4">
                                <input type="radio" name="practiceType" id="practiceTypeRadio4" ng-model="practiceTypeRadio" ng-value="4" ng-click="expandPracticeTypeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':practiceTypeRadio == 5}">
                            <label for="practiceTypeRadio5">
                                <input type="radio" name="practiceType" id="practiceTypeRadio5" ng-model="practiceTypeRadio" ng-value="5" ng-click="expandPracticeTypeSelect()" ng-checked="practiceTypeRadio == 5"> Other (please specify): {{practiceTypeOther}}
                            </label>
                            <input type="text" id="practiceTypeOther" ng-model="practiceTypeOther" ng-change="practiceTypeOtherChange(5)">
                     
                        </li>
                    </ul>
                </div>
            </div>*@
            <div class="fancy-form-row">
                <div class="fancy-form-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, optio quas sapiente, ullam officiis possimus obcaecati, recusandae accusantium molestias tenetur rem laborum necessitatibus porro dicta ut assumenda aperiam molestiae nulla.</div>
                <div class="fancy-form-control">
                    <span class="fancy-form-select-toggle" ng-click="expandAffiliationModeSelect()"><i ng-class="{'icon-up-open':expandAffiliationMode,'icon-down-open':!expandAffiliationMode}"></i></span>
                    <ul class="fancy-form-select" ng-class="{'expand':expandAffiliationMode}">
                        <li ng-class="{'active':affiliationModeRadio == 0}">
                            <label for="affiliationModeRadio0">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio0" ng-model="affiliationModeRadio" ng-value="0" ng-checked="true" ng-click="expandAffiliationModeSelect()"> Affiliation Mode
                            </label>
                        </li>
                        <li ng-class="{'active':affiliationModeRadio == 1}">
                            <label for="affiliationModeRadio1">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio1" ng-model="affiliationModeRadio" ng-value="1" ng-click="expandAffiliationModeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit {{affiliationModeRadio1}}
                            </label>
                        </li>
                        <li ng-class="{'active':affiliationModeRadio == 2}">
                            <label for="affiliationModeRadio2">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio2" ng-model="affiliationModeRadio" ng-value="2" ng-click="expandAffiliationModeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':affiliationModeRadio == 3}">
                            <label for="affiliationModeRadio3">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio3" ng-model="affiliationModeRadio" ng-value="3" ng-click="expandAffiliationModeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':affiliationModeRadio == 4}">
                            <label for="affiliationModeRadio4">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio4" ng-model="affiliationModeRadio" ng-value="4" ng-click="expandAffiliationModeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':affiliationModeRadio == 5}">
                            <label for="affiliationModeRadio5">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio5" ng-model="affiliationModeRadio" ng-value="5" ng-click="expandAffiliationModeSelect()" ng-checked="affiliationModeRadio == 5"> Other (please specify): {{affiliationModeOther}}
                            </label>
                            <input type="text" id="affiliationModeOther" ng-model="affiliationModeOther" ng-change="affiliationModeOtherChange(5)">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fancy-form-row">
                <div class="fancy-form-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, optio quas sapiente, ullam officiis possimus obcaecati, recusandae accusantium molestias tenetur rem laborum necessitatibus porro dicta ut assumenda aperiam molestiae nulla.</div>
                <div class="fancy-form-control">
                    <span class="fancy-form-select-toggle" ng-click="expandFirmTypeSelect()"><i ng-class="{'icon-up-open':expandFirmType,'icon-down-open':!expandFirmType}"></i></span>
                    <ul class="fancy-form-select" ng-class="{'expand':expandFirmType}">
                        <li ng-class="{'active':firmTypeRadio == 0}">
                            <label for="firmTypeRadio0">
                                <input type="radio" name="firmType" id="firmTypeRadio0" ng-model="firmTypeRadio" ng-value="0" ng-checked="true" ng-click="expandFirmTypeSelect()"> Firm Type
                            </label>
                        </li>
                        <li ng-class="{'active':firmTypeRadio == 1}">
                            <label for="firmTypeRadio1">
                                <input type="radio" name="firmType" id="firmTypeRadio1" ng-model="firmTypeRadio" ng-value="1" ng-click="expandFirmTypeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit {{firmTypeRadio1}}
                            </label>
                        </li>
                        <li ng-class="{'active':firmTypeRadio == 2}">
                            <label for="firmTypeRadio2">
                                <input type="radio" name="firmType" id="firmTypeRadio2" ng-model="firmTypeRadio" ng-value="2" ng-click="expandFirmTypeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':firmTypeRadio == 3}">
                            <label for="firmTypeRadio3">
                                <input type="radio" name="firmType" id="firmTypeRadio3" ng-model="firmTypeRadio" ng-value="3" ng-click="expandFirmTypeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':firmTypeRadio == 4}">
                            <label for="firmTypeRadio4">
                                <input type="radio" name="firmType" id="firmTypeRadio4" ng-model="firmTypeRadio" ng-value="4" ng-click="expandFirmTypeSelect()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </label>
                        </li>
                        <li ng-class="{'active':firmTypeRadio == 5}">
                            <label for="firmTypeRadio5">
                                <input type="radio" name="firmType" id="firmTypeRadio5" ng-model="firmTypeRadio" ng-value="5" ng-click="expandFirmTypeSelect()" ng-checked="firmTypeRadio == 5"> Other (please specify): {{firmTypeOther}}
                            </label>
                            <input type="text" id="firmTypeOther" ng-model="firmTypeOther" ng-change="firmTypeOtherChange(5)">
                        </li>
                    </ul>
                </div>
            </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Select time period for your data</label>
                                <select name="timePeriod" ng-model="selectedYear" ng-change="yearSelected()">
                                    <option value=""></option>
                                    <option value="2016">Previous Year</option>
                                    <option value="2017">YTD 2017</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" ng-class="{'hide' : selectedYear < 2017}">
                            <div class="form-group">
                                <label for="">Month for YTD entry</label>
                                <select name="timeMonth" ng-model="selectedMonth">
                                    <option ng-repeat="month in shownMonths" value="{{$index+1}}" ng-selected="($index+1) == selectedMonth">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Page2Questions", "AssetmarkBAT", FormMethod.Post, new { name = "form", ng_show = "selectedMonth != null" }))
            {
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.PDFPath)

                <fieldset>
                    <div class="row field-header">
                        <div class="col-md-5 field-label">
                            Performance Metric
                        </div>
                        <div class="col-md-4 field-control"></div>
                        <div class="col-md-3 field-value">Annualized Values</div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            Total Firm Assets Under Management <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="assets" ng-model="assets" ui-money-mask="0" min="1000000" max="99000000" ui-hide-space>*@                           
                            @Html.TextBoxFor(m => Model.Ff_TotalFirmAsset, new { ng_init = string.Format("assets = '{0}'", Model.Ff_TotalFirmAsset).Replace("$","").Replace(",","").Replace(".","").Replace(" ","").Replace("%",""), ng_model = "assets", min = "1000000", max = "99000000", ui_money_mask = "0", @name = "assets" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.Ff_TotalFirmAsset.$error.min">Please enter a value greater than $1,000,000</div>
                            <div class="error" ng-show="form.Ff_TotalFirmAsset.$error.max">Please enter a value less than $99,000,000</div>
                            <span ng-show="!form.Ff_TotalFirmAsset.$error.min && !form.Ff_TotalFirmAsset.$error.max">{{ (assets/selectedMonth)*12 | currency : '$' }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            Non-recurring Revenue
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="nonRecurringRevenue" ng-model="nonRecurringRevenue" ui-money-mask="0" max="10000000" ui-hide-space>*@
                            @Html.TextBoxFor(m => Model.Ff_NonRecurringRevenue, new { ng_init = string.Format("nonRecurringRevenue = '{0}'", Model.Ff_NonRecurringRevenue).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), ng_model = "nonRecurringRevenue", ui_money_mask = "0", min = "0", max = "10000000" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.Ff_NonRecurringRevenue.$error.max">Please enter a value less than $10,000,000</div>
                            <span ng-show="!form.Ff_NonRecurringRevenue.$error.max">{{ (nonRecurringRevenue/selectedMonth)*12 | currency : '$' }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            Recurring Revenue
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="recurringRevenue" ng-model="recurringRevenue" ui-money-mask="0" max="10000000" ui-hide-space>*@
                            @Html.TextBoxFor(m => Model.Ff_RecurringRevenue, new { ng_init = string.Format("recurringRevenue = '{0}'", Model.Ff_RecurringRevenue).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), ng_model = "recurringRevenue", ui_money_mask = "0", min = "0", max = "10000000" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.Ff_RecurringRevenue.$error.max">Please enter a value less than $10,000,000</div>
                            <span ng-show="!form.Ff_RecurringRevenue.$error.max">{{ (recurringRevenue/selectedMonth)*12 | currency : '$' }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            <strong>Total Revenue (Calculated)</strong>
                        </div>
                        <div class="col-md-4 field-control">
                            <span ng-show="!form.Ff_TotalFirmAsset.$error.min && !form.Ff_TotalFirmAsset.$error.max && !form.Ff_NonRecurringRevenue.$error.max && !form.Ff_RecurringRevenue.$error.max">{{ ((assets/selectedMonth)*12) + ((nonRecurringRevenue/selectedMonth)*12) + ((recurringRevenue/selectedMonth)*12) | currency : '$' }}</span>
                        </div>
                        <div class="col-md-3 field-value">
                            <span ng-show="!form.Ff_TotalFirmAsset.$error.min && !form.Ff_TotalFirmAsset.$error.max && !form.Ff_NonRecurringRevenue.$error.max && !form.Ff_RecurringRevenue.$error.max">{{ ((((assets/selectedMonth)*12) + ((nonRecurringRevenue/selectedMonth)*12) + ((recurringRevenue/selectedMonth)*12))/selectedMonth)*12 | currency : '$' }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            Direct Expenses <i class="icon-info tooltip" data-tooltip="TODO"></i>
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="directExpenses" ng-model="directExpenses" ui-money-mask="0" max="10000000" ui-hide-space>*@
                            @Html.TextBoxFor(m => Model.Ff_DirectExpenses, new { ng_init = string.Format("directExpenses = '{0}'", Model.Ff_DirectExpenses).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), @name = "directExpenses", ng_model = "directExpenses", ui_money_mask = "0", min = "0", max = "10000000" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.Ff_DirectExpenses.$error.max">Please enter a value less than $10,000,000</div>
                            <span ng-show="!form.Ff_DirectExpenses.$error.max">{{ (directExpenses/selectedMonth)*12 | currency : '$' }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            Indirect Expenses <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="indirectExpenses" ng-model="indirectExpenses" ui-money-mask="0" min="0" max="10000000" ui-hide-space>*@
                            @Html.TextBoxFor(m => Model.Ff_IndirecteExpenses, new { ng_init = string.Format("indirectExpenses = '{0}'", Model.Ff_IndirecteExpenses).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), @name = "indirectExpenses", ng_model = "indirectExpenses", ui_money_mask = "0", min = "0", max = "10000000" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.indirectExpenses.$error.max">Please enter a value less than $10,000,000</div>
                            <span ng-show="!form.indirectExpenses.$error.max">{{ (indirectExpenses/selectedMonth)*12 | currency : '$' }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            Operating Profit (Calculated)
                        </div>
                        <div class="col-md-4 field-control">
                            <span ng-show="
                                    !form.assets.$error.min
                                    && !form.assets.$error.max
                                    && !form.nonRecurringRevenue.$error.max
                                    && !form.recurringRevenue.$error.max
                                    && !form.directExpenses.$error.max
                                    && !form.indirectExpenses.$error.max
                                    ">{{ (((assets/selectedMonth)*12) + ((nonRecurringRevenue/selectedMonth)*12) + ((recurringRevenue/selectedMonth)*12)) - (((directExpenses/selectedMonth)*12) + ((indirectExpenses/selectedMonth)*12)) | currency : '$' }}</span>
                        </div>
                        <div class="col-md-3 field-value">
                            <span ng-show="
                                    !form.assets.$error.min
                                    && !form.assets.$error.max
                                    && !form.nonRecurringRevenue.$error.max
                                    && !form.recurringRevenue.$error.max
                                    && !form.directExpenses.$error.max
                                    && !form.indirectExpenses.$error.max
                                    ">{{ (((((assets/selectedMonth)*12) + ((nonRecurringRevenue/selectedMonth)*12) + ((recurringRevenue/selectedMonth)*12)) - (((directExpenses/selectedMonth)*12) + ((indirectExpenses/selectedMonth)*12)))/selectedMonth)*12 | currency : '$' }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            Projected Annual Growth Rate <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="growthRate" ng-model="growthRate" ui-percentage-mask="0" min="0" max="25" ui-hide-space>*@
                            @Html.TextBoxFor(m => Model.Ff_ProjectedGrowthRate, new { ng_init = string.Format("growthRate = '{0}'", Model.Ff_ProjectedGrowthRate).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), @name = "growthRate", ng_model = "growthRate", ui_percentage_mask = "0", min = "0", max = "25" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.growthRate.$error.max">Please enter a value less than 20%</div>
                            <span ng-show="growthRate != null && !form.growthRate.$error.min && !form.growthRate.$error.max">{{ growthRate*100 }}%</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            # Client Relationships
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="clientRel" ng-model="clientRel" ui-number-mask="0" min="1" max="10000">*@
                            @Html.TextBoxFor(m => Model.Ff_ClientRelationships, new { ng_init = string.Format("clientRel = '{0}'", Model.Ff_ClientRelationships).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), @name = "clientRel", ng_model = "clientRel", ui_number_mask = "0", min = "1", max = "10000" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.clientRel.$error.min">Please enter a value greater than 0</div>
                            <div class="error" ng-show="form.clientRel.$error.max">Please enter a value less than 10,000</div>
                            <span ng-show="clientRel != null && !form.clientRel.$error.min && !form.clientRel.$error.max">{{ clientRel }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            # Full-Time Equivalent Non Advisors <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="nonAdvisors" ng-model="nonAdvisors" ui-number-mask="1" min="1" max="10000">*@
                            @Html.TextBoxFor(m => Model.Ff_FullTimeNonAdvisors, new { ng_init = string.Format("nonAdvisors = '{0}'", Model.Ff_FullTimeNonAdvisors).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), @name = "nonAdvisors", ng_model = "nonAdvisors", ui_number_mask = "1", min = "1", max = "10000" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.nonAdvisors.$error.min">Please enter a value greater than 0</div>
                            <div class="error" ng-show="form.nonAdvisors.$error.max">Please enter a value less than 10,000</div>
                            <span ng-show="nonAdvisors != null && !form.nonAdvisors.$error.min && !form.nonAdvisors.$error.max">{{ nonAdvisors }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            # Full-Time Equivalent Advisors <i class="icon-info"></i>
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="advisors" ng-model="advisors" ui-number-mask="1" min="1" max="10000">*@
                            @Html.TextBoxFor(m => Model.Ff_FullTimeAdvisors, new { ng_init = string.Format("advisors = '{0}'", Model.Ff_FullTimeAdvisors).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), @name = "advisors", ng_model = "advisors", ui_number_mask = "1", min = "1", max = "10000" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.advisors.$error.min">Please enter a value greater than 0</div>
                            <div class="error" ng-show="form.advisors.$error.max">Please enter a value less than 10,000</div>
                            <span ng-show="advisors != null && !form.advisors.$error.min && !form.advisors.$error.max">{{ advisors }}</span>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-5 field-label">
                            # New Clients <i class="icon-info"></i>
                        </div>
                        <div class="col-md-4 field-control">
                            @*<input type="text" name="newClients" ng-model="newClients" ui-number-mask="0" min="0" max="1000">*@
                            @Html.TextBoxFor(m => Model.Ff_NewClients, new { ng_init = string.Format("newClients = '{0}'", Model.Ff_NewClients).Replace("$", "").Replace(",", "").Replace(".", "").Replace(" ", "").Replace("%", ""), @name = "newClients", ng_model = "newClients", ui_number_mask = "0", min = "0", max = "1000" })
                        </div>
                        <div class="col-md-3 field-value">
                            <div class="error" ng-show="form.newClients.$error.min">Please enter a value greater than 0</div>
                            <div class="error" ng-show="form.newClients.$error.max">Please enter a value less than 1,000</div>
                            <span ng-show="newClients != null && !form.newClients.$error.min && !form.newClients.$error.max">{{ ((newClients)/selectedMonth)*12 }}</span>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="button-container text-center">
                            <input class="btn-big" type="submit" name="submit" value="Save Your Inputs" />
                            <input class="btn-big" type="submit" name="submit" value="VMI Inputs Next" />
                        </div>
                    </div>
                </div>
                
            }
        </div>
    </section>
</main>

