@model AssetmarkBAT.Models.BATModel
@{
    Layout = "~/Views/AssetmarkBAT/Shared/_Layout.cshtml";
}

@section Title
{
    AssetMark – BAT – Assessement4
}



@using (Html.BeginForm("Optimizer", "AssetmarkBAT", FormMethod.Post))
{
    @Html.HiddenFor(m => m.DateStarted)
    @Html.HiddenFor(m => m.PDFPath)
    @Html.HiddenFor(m => m.UserId)

    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h1><img src="~/Images/business_assessment_logo.png" alt="Business Assessment Tool" width="350"></h1>
                    </div>
                </div>
                <h2><span>Valuation Range</span></h2>
                <p>Below is your valuation range, an estimated practice value alongside the valuation range for top-performing firms in your peer group. Provide your information to gain access to your complete detailed report. An AssetMark consultant will reach out to help you understand the components that impact your estimated value and assist you with any questions you may have. </p>
                <p>To download a detailed report, please submit your contact information in the form below. </p>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="secondary">Valuation Range<br><span class="light">Firm Relative to Peer Group Benchmark</span></h4>
                        <div class="graph" ng-init="categories = ['Current Value','Benchmark Index']; report = true" ng-cloak>
                            <div id="optimizerGraph" style="min-width: 310px; height: 300px; margin: 0 auto" ng-init="initGraph()"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="secondary">To Download Your Detailed Report,<br>Fill In Your Contact Information</h4>

                      

                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="First Name">*@
                                        @Html.TextBoxFor(m => m.firstName, new { @class= "form-control", @placeholder = "First Name", ng_model = "lead.firstName", ng_init = string.Format("lead.firstName = '{0}'", Model.firstName) })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="Last Name">*@
                                        @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", @placeholder = "Last Name", ng_model = "lead.lastName", ng_init = string.Format("lead.lastName = '{0}'", Model.lastName) })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="Email">*@
                                        @Html.TextBoxFor(m => m.emailAddress, new { @class = "form-control", @placeholder = "Email", ng_model = "lead.email", ng_init = string.Format("lead.email = '{0}'", Model.emailAddress) })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="Phone Number">*@
                                        @Html.TextBoxFor(m => m.busPhone, new { @class = "form-control", @placeholder = "Phone Number", ng_model = "lead.phone", ng_init = string.Format("lead.phone = '{0}'", Model.busPhone) })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="Zip or Postal Code">*@
                                        @Html.TextBoxFor(m => m.zipPostal, new { @class = "form-control", @placeholder = "Zip or Postal Code", ng_model = "lead.zip", ng_init = string.Format("lead.zip = '{0}'", Model.zipPostal) })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="Broker-Dealer or RIA Name">*@
                                        @Html.TextBoxFor(m => m.brokerDealer1, new { @class = "form-control", @placeholder = "Broder-Dealer or RIA Name", ng_model = "lead.broker", ng_init = string.Format("lead.broker = '{0}'", Model.brokerDealer1) })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="button-container text-center">
                            @*<a href="@Model.PDFPath" class="btn" target="_blank" onclick="">View Complete Report</a>*@
                            <input type="submit" value="View Complete Report" name="submit" ng-disabled="lead.firstName == null || lead.lastName == null || lead.email == null || lead.phone == null || lead.zip == null" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
}
