@model AssetmarkBAT.Models.BATModel

@{
    Layout = "~/Views/AssetmarkBAT/Shared/_Layout.cshtml";
}

@section Title
{
    AssetMark – BAT – Assessement5
}

@Html.HiddenFor(m => Model.results)

<a id="download-pdf" href="@Model.results" class="hide" target="_blank">Download PDF</a>


<main>
    <section>
        <div class="container">
            <h1><img src="~/Images/business_assessment_logo.png" alt="Business Assessment Tool" width="350"></h1>
            <h2><span>Business Assessment</span></h2>
            <p>Thank you for completing your business assessment.</p>
            <p><a href="@Model.results" class="button" target="_blank">Download Your Business Assessment PDF</a></p>
            <p>Take a look at the Value Maximization Index® table below to identify which category you scored the lowest in, then click the category links to access resources specific to each category that are designed to help you improve corresponding areas of your business.</p>

            <div class="row" ng-cloak>
                <div class="col-md-8 col-md-offset-2">
                    <table>
                        <thead>
                            <tr>
                                <th>Valuation Categories</th>
                                <th style="width: 50%;">Your Scores and Benchmarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="score-legend">
                                        <div class="poor">
                                            <h5>Poor</h5>
                                            <h6>1-100</h6>
                                        </div>
                                        <div class="average">
                                            <h5>Average</h5>
                                            <h6>101-200</h6>
                                        </div>
                                        <div class="great">
                                            <h5>Great</h5>
                                            <h6>201-250</h6>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="https://www.assetmark.com/business-Assessment-Tool/managingyourpractice" target="_blank">Managing Your Practice</a></td>
                                <td>
                                    <div class="score-bar" ng-init="score.myp = @Model.ClientValuationModel.ManagingYourPracticeScore; benchmark.myp = @Model.BenchmarksValuationModel.CurrentPeerGroup.MYP">
                                        <div class="poor"></div>
                                        <div class="average"></div>
                                        <div class="great"></div>
                                        <span class="score" style="left: {{(score.myp/250)*100}}%;">{{score.myp}}</span>
                                        <span class="benchmark" style="left: {{(benchmark.myp/250)*100}}%;"></span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="https://www.assetmark.com/business-Assessment-Tool/OptimizingYourOperations" target="_blank">Optimizing Your Operations</a></td>
                                <td>
                                    <div class="score-bar" ng-init="score.oyo = @Model.ClientValuationModel.OptimizingYourOperationsScore; benchmark.oyo = @Model.BenchmarksValuationModel.CurrentPeerGroup.OYO">
                                        <div class="poor"></div>
                                        <div class="average"></div>
                                        <div class="great"></div>
                                        <span class="score" style="left: {{(score.oyo/250)*100}}%;">{{score.oyo}}</span>
                                        <span class="benchmark" style="left: {{(benchmark.oyo/250)*100}}%;"></span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="https://www.assetmark.com/business-Assessment-Tool/MarketingYourBusiness" target="_blank">Marketing Your Business</a></td>
                                <td>
                                    <div class="score-bar" ng-init="score.myb = @Model.ClientValuationModel.MarketingYourBusinessScore; benchmark.myb = @Model.BenchmarksValuationModel.CurrentPeerGroup.MYB">
                                        <div class="poor"></div>
                                        <div class="average"></div>
                                        <div class="great"></div>
                                        <span class="score" style="left: {{(score.myb/250)*100}}%;">{{score.myb}}</span>
                                        <span class="benchmark" style="left: {{(benchmark.myb/250)*100}}%;"></span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="https://www.assetmark.com/business-Assessment-Tool/EmpoweringYourTeam" target="_blank">Empowering Your Team</a></td>
                                <td>
                                    <div class="score-bar" ng-init="score.eyt = @Model.ClientValuationModel.EmpoweringYourTeamScore; benchmark.eyt = @Model.BenchmarksValuationModel.CurrentPeerGroup.EYT">
                                        <div class="poor"></div>
                                        <div class="average"></div>
                                        <div class="great"></div>
                                        <span class="score" style="left: {{(score.eyt/250)*100}}%;">{{score.eyt}}</span>
                                        <span class="benchmark" style="left: {{(benchmark.eyt/250)*100}}%;"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="text-right">
                                    <span><i class="icon-down-micro icon-large"></i> Your Score</span>
                                    <span><i class="icon-up-micro icon-large light-blue"></i> Benchmarks</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <p><strong>To adjust your inputs you can <a href="/?redo=1">return to the beginning</a></strong></p>
        </div>
    </section>
    <section class="white">
        <div class="container">
            <h2><span>Valuation Optimizer</span></h2>
            <p>Here you see how changes in growth rate, profit margins and Value Maximization Index® can impact your firm’s estimated valuation range. Use the sliders below to visualize how changes to each key area impact your overall range. </p>

            <div class="row" ng-cloak>
                <div class="col-md-8 col-md-offset-2">

                    <div class="graph" ng-init="initGraph()">
                        <h6>Firm Valuation Range: Current Value vs. Optimized Value</h6>
                        <div id="optimizerGraph" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                    </div>

                    <h6>See how changes impact your firm valuation.</h6>
                    <p>
                        <small>Use the slider on "Your Firm" to increase or decrease your VMI Score</small><br>
                        <small><span class="swatch grey"></span> Top performing firms</small>
                    </p>

                    <div class="optimizer">
                        <div class="title">
                            <h3 class="optimized-label">Projected Annual Growth Rate</h3>
                            <div class="optimized-value">{{pagr.value}}%</div>
                        </div>
                        <div class="optimizer-slider">
                            <input type="text" ng-model="pagr.value" />
                            <div class="slider-ticks">
                                <rzslider rz-slider-model="pagrTicks.minValue"
                                          rz-slider-high="pagrTicks.maxValue"
                                          rz-slider-options="pagrTicks.options"></rzslider>
                            </div>
                            <div class="slider-comp">
                                <rzslider rz-slider-model="pagrComp.minValue"
                                          rz-slider-high="pagrComp.maxValue"
                                          rz-slider-options="pagrComp.options"></rzslider>
                            </div>
                            <div class="slider-pointer">
                                <rzslider rz-slider-model="pagr.value"
                                          rz-slider-options="pagr.options"></rzslider>
                            </div>
                        </div>
                    </div>

                    <div class="optimizer">
                        <div class="title">
                            <h3 class="optimized-label">Profit Margin</h3>
                            <div class="optimized-value">{{operatingProfit | number : 0 }}%</div>
                        </div>
                        <div class="sub-title">
                            <h4 class="optimized-label">Profit is annualized</h4>
                            <div class="optimized-value">{{profitAnnualized | currency: '$' : 0 }}</div>
                        </div>
                        <div class="optimizer-slider">
                            <input type="text" ng-model="pm.value" />
                            <div class="slider-ticks">
                                <rzslider rz-slider-model="pmTicks.minValue"
                                          rz-slider-high="pmTicks.maxValue"
                                          rz-slider-options="pmTicks.options"></rzslider>
                            </div>
                            <div class="slider-comp">
                                <rzslider rz-slider-model="pmComp.minValue"
                                          rz-slider-high="pmComp.maxValue"
                                          rz-slider-options="pmComp.options"></rzslider>
                            </div>
                            <div class="slider-pointer">
                                <rzslider rz-slider-model="pm.value"
                                          rz-slider-options="pm.options"></rzslider>
                            </div>
                        </div>
                    </div>

                    <div class="optimizer">
                        <div class="title">
                            <h3 class="optimized-label">Valuation Maximization Index<sup>&trade;</sup></h3>
                            <div class="optimized-value">{{vmiDisplayed}}</div>
                        </div>
                        <div class="optimizer-slider">
                            <div class="optimizer-slider">
                                <input type="text" ng-model="vmi.value" />
                                <div class="slider-ticks">
                                    <rzslider rz-slider-model="vmiTicks.minValue"
                                              rz-slider-high="vmiTicks.maxValue"
                                              rz-slider-options="vmiTicks.options"></rzslider>
                                </div>
                                <div class="slider-comp">
                                    <rzslider rz-slider-model="vmiComp.minValue"
                                              rz-slider-high="vmiComp.maxValue"
                                              rz-slider-options="vmiComp.options"></rzslider>
                                </div>
                                <div class="slider-pointer">
                                    <rzslider rz-slider-model="vmi.value"
                                              rz-slider-options="vmi.options"></rzslider>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-container text-right">
                        <button ng-click="resetVmiSliders()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
